@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background-color: #f5f5f5; 
}

main {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;   
}

.header {
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 2px solid #eee;
    margin-bottom: 10px;
}

.header h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 300;
    color: #333;
}

.game {
    width: fit-content;
    min-width: 65vw;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
}

.game img {
    width: 57.4px;
    height: 57.4px;
    border-radius: 5px;
}

.game article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    font-weight: bold;
}

.dices {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    border: 2px solid #fffffff2;
    border-radius: 5px;
}

.dices:hover {
    cursor: pointer;
    background-color: #e5ff0017;
    opacity: 0.8;
}

.dices:active {
    opacity: 0.6;
}

.dicesAction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.rollDice {
    background-color: #f5f5f5;
    border: 2px solid #0000006b;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: bold;
    cursor: pointer;
}

.rollDice:hover {
    background-color: #eee;
}

.rollDice:active {
    background-color: #ddd;
}

.gameActions {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.diceAction {
    cursor: pointer;
    border: 3px solid #fff;
}

.diceAction-Selected {
    border: 3px solid #f4ff1ff2;
    border-radius: 15px;
}

.diceAction-Selected:hover {
    opacity: 0.8;
}

.diceAction-Selected:active {
    opacity: 0.9;
}

.AnimationWarning {
    animation: warning 0.5s ease-in-out infinite alternate;
}

@keyframes warning {
    0% {
        border: 2px solid #fff;
    }
    100% {
        border: 2px solid #ff0000;
    }
}

.Possible {
    /* Highlight the possibles selects */
    border-radius: 10px;
    background-color: #8c72ff13;
}

.endGame {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.endGame button {
    background-color: #f5f5f5;
    border: 2px solid #0000006b;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: bold;
    cursor: pointer;
}

.AnimationEndGame {
    animation: endGame 0.5s ease-in-out infinite alternate;
}

@keyframes endGame {
    from {
        transform: translate(-50%, -50%) scale(1);
    }

    to {
        transform: translate(-50%, -50%) scale(1.1);
    }
}
